/*
 * BDP Modx Core CSS
 * Option 1
 * V 1.0.0
 * Last Modified 06/02/2015
*/

/* Home page search box */
.quick-search{
	padding: 0px 0px 15px;
	background: rgba(255,255,255,.7);
}
/* ID Header is not in Bootstrap core */
#header.heading .quick-search{
	margin-top: 20px;
	margin-bottom: 20px;
}

/**
 * universal hide class
*/
.bdd-hide{
	display : none;
}	

/* Home page property listing */

.bdd-property-container{
	margin-bottom: 30px;
	background: #fff;
	border: 1px solid #eee;
}

.bdd-property-image{
	position: relative;
	overflow: hidden;
}

.bdd-property-image img{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.bdd-property-status{
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: auto;
	max-width: 70%;
	padding: 5px 10px;
	background: #1b1d2a;
	font-weight: 400;
	color: #fff;
}

.bdd-property-price{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: auto;
	max-width: 80%;
	padding: 8px 16px;
	background: #919191;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}

.bdd-property-price h4{
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 5px;
	font-weight: 400;
}

.bdd-property-price small{
	font-size: 13px;
	font-weight: 400;
}

.bdd-property-features{
	display: block;
	padding: 5px 10px;
	background: #919191;
	color: #fff;
}

.bdd-property-features span{
	padding: 2px 5px;
	font-size: 13px;
}

.bdd-property-content{
	padding: 10px 15px;
	min-height: 110px;
}

.bdd-property-content h3,
.bdd-property-text h3{
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
}

.bdd-property-content h3 small,
.bdd-property-text h3 small{
	display: block;
	margin-top: 10px;
	font-size: 13px;
	font-style: italic;
}

.bdd-property-content-list{
	display: table;
}

.bdd-property-image-list{
	position: relative;
	width: 50%;
	display: table-cell;
	vertical-align: top;
}

.bdd-property-image-list img{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.bdd-property-image-list .property-status{
	position: absolute;
	right: 0;
	bottom: 35px;
}

.bdd-property-image-list .property-footer a{
	background: #d9dae9;
	color: #898ba2;
}

.bdd-property-image-list .property-footer a:hover{
	background: #898ba2;
	color: #d9dae9;
}

.bdd-property-text{
	position: relative;
	width: 50%;
	display: table-cell;
	padding: 15px;
	vertical-align: top;
}

.bdd-property-footer{
	position: relative;
	display: table;
	width: 100%;
	padding: 0;
}

.bdd-property-footer a{
	display: table-cell;
	width: 50%;
	padding: 8px 12px;
	text-align: center;
	background: #919191;
	font-size: 18px;
	color: rgba(0,0,0,.25);
	overflow: hidden;
}

.bdd-property-footer a:hover,
.bdd-property-footer a:focus{
	color: #eee;
	background: #919191;
	overflow: hidden;
	outline: none;
}


/**
 * Detail Page 
*/

.sidebar .widget-white{
	position: relative;
	padding: 15px;
	background: #fff;
	margin-bottom: 30px !important;
	border-bottom: 2px solid #ddd;
}




.bdd-detailCarousel div{
	padding: 0 5px 0 5px;
}

/* Google Map */
.bdd-detailMapsSize{
	height:500px;
}

